# When the language isn't known or is being added, notify the maintainers
*       @tt-bot-dev/maintainers

# Lookie here, something in English is borked. Notify maintainers
en.js   @tt-bot-dev/maintainers

# trans.js is a language that allows you to show contexts. Don't disturb Vlag in this case, because it's my borks.
trans.js @tttie

# Notify the translators.
cs-*.js @tt-bot-dev/cs-cz
sk-*.js @tt-bot-dev/sk-sk
ro-*.js @tt-bot-dev/ro-ro